
<br> <br> <br> <br>  {{"HIS_STARTDATE"|translate}}
<br> <br> <br> <br> <br> <br> <br> <br>

  <div  ng-hide = " selectedEvent <= 0"  >
<button  class="btn btn-primary btn-lg" ng-click="selectedEvent = selectedEvent -1 " style="float:left;"><span class="glyphicon glyphicon-chevron-left"></span> </button>
</div>



	<div  ng-hide = " selectedEvent >= events.filter(filter.comboFilter).length -1 "  >
<button  class="btn btn-primary btn-lg"   ng-click="selectedEvent = selectedEvent +1 " style="float:right;"><span class="glyphicon glyphicon-chevron-right"></span> </button>
 </div>

 <div  class=" EventsSlider2 ui-grid ng-isolate-scope grid " >

   <table class="ui-grid-header-cell ui-grid-clearfix ng-scope ng-isolate-scope ui-grid-coluiGrid-008" >
     <tr class= "ui-grid-top-panel ui-grid-header-viewport ui-grid-header-canvas   " >

          <th >Title</th>
            <th >Content</th>
              <th >Date</th>

      </tr>
       <tr class= "ui-grid-top-panel ui-grid-header-viewport ui-grid-header-canvas   " >

           <td rowspan="3"><div ng-bind-html="events.filter(filter.comboFilter)[selectedEvent].title "></div></td>

           <td rowspan="4"><div ng-bind-html="events.filter(filter.comboFilter)[selectedEvent].content "></div></td>

           <td rowspan="5"><div ng-bind-html="events.filter(filter.comboFilter)[selectedEvent].date "></div></td>
       </tr>

   </table>
 </div>
